# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Build artifacts
bin/

# macOS
.DS_Store

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo

# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform local plugin directory (the stuff downloaded by terraform init)
.terraform/

# Terraform lock file (optional, but usually ignored in local-only projects)
.terraform.lock.hcl

# Crash logs
crash.log